/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* From saito3 */
.pub__item {
	display: block;
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px dotted #ebebeb;
}

.pub__item a {
	color: #09afdf;
}

ol.pub__list{
	padding:0 0 0 2em;
	margin:0;
}

ol.pub__list li{
	text-indent:-1.5em;
	padding-left:1.5em;
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
}

ol.pub__list li:before{
  display: marker;
  content: "[" counter(cnt) "] ";
}

ol.pub__list li:hover{
	/*background-color: #efe;*/
	background-color: #f8f8f8;
}
/* From saito3 end*/
