<div class="container" id="publications">

  <div class="row">
    <form>
      <!-- For Title search -->
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label">{{ i18n "pub_title" }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm js-shuffle-search-title" id="inputTitle" placeholder='{{ i18n "pub_title" }}'>
        </div>
      </div>

      <!-- For Auther search -->
      <div class="form-group row">
        <label for="inputAuthor" class="col-sm-2 col-form-label">{{ i18n "pub_author" }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm js-shuffle-search-author" id="inputAuthor" placeholder='{{ i18n "pub_author" }}'>
        </div>
      </div>

      <!-- For year search -->
      <!-- Not to work! Future work -->
      <!-- <div class="form-group row">
        <label for="inputYear" class="col-sm-2 col-form-label">{{ i18n "pub_year" }}</label>
        <div class="col-sm-10">
          <select id="selectedIsbn" name="selectedIsbn">
            <option value="0">All</option>
            {{- $search_year_min := (.Site.Params.publications.search_year_min | default 2000) }}
            {{- $search_year_max := (.Site.Params.publications.search_year_max | default 2018) }}
            {{ range $i, $sequence := (seq $search_year_max -1 $search_year_min) }}
            <option value="{{ $sequence }}">{{ $sequence }}</option>
            {{ end }}
          </select>
        </div>
      </div> -->

    </form>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <ol id="grid" class="pub__list">
          {{ $csvfile := "/static/publications/pub.csv" }}
          {{ range $i, $r := getCSV "," $csvfile }}
          {{ if ne $i 0}}
          <li class="pub__item picture-item" data-groups='["paper"]' data-date-created="2016-08-12">
            {{ $author := index $r 0 }}
            {{ $title := index $r 1 }}
            {{ $journal := index $r 2 }}
            {{ $volume := index $r 3 }}
            {{ $number := index $r 4 }}
            {{ $pages := index $r 5 }}
            {{ $year := index $r 6 }}
            {{ $doi := index $r 7 }}
            <span class="picture-item__author">{{ $author }}</span><br>
            <span class="picture-item__title">{{ $title }}</span><br>
            <em>{{ $journal }}</em>
            {{ if $number }}
              <strong>{{ $volume }}</strong> <span>({{ $number }})</span>,
            {{ else }}
              <strong>{{ $volume }}</strong>,
            {{ end }}
            <span>
            {{ $pages }},
            </span>
            <span>
              {{ $year }}
            </span>
            <br>
            <a href="http://dx.doi.org/{{ $doi }}" target="_blank" class="download">{{ $doi }}</a>
          </li>
          {{ end }}
          {{ end }}
          <!-- Row loop end -->

        </ol>

        
      </div>
    </div>


  </div>
  <!-- /.row -->

</div>
