{{ if isset .Site.Params "to_applicants" }}
{{ if .Site.Params.to_applicants.enable }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.to_applicants.msg_title }}</h2>
                </div>

                <p class="lead">
                    {{ .Site.Params.to_applicants.msg_subtitle | markdownify }}
                </p>

                <div class="heading text-center">
                    <h2>{{ .Site.Params.to_applicants.title }}</h2>
                </div>

                <p class="lead">
                    {{ .Site.Params.to_applicants.subtitle | markdownify }}
                </p>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
