{{ if .Site.Params.topbar.enable }}
<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        {{ .Site.Params.topbar.text | safeHTML }}
      </div>
      <div class="col-xs-7">
        <div class="social">
          {{ range .Site.Menus.topbar.ByWeight }}
            {{ $name := lower .Name}}
            {{ if eq $name "email"}}
              <a href="{{ .URL | absLangURL }}#contact-message" style="opacity: 1;">{{ .Pre }}</a>
            {{else}}
              <a href="{{ .URL | absLangURL }}" target="_blank" rel="noopener noreferrer" style="opacity: 1;">{{ .Pre }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
